HTML {
	OVERFLOW-X: auto
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: #ccccff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #222; LINE-HEIGHT: 135%; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif; TEXT-ALIGN: center
}
.ipbtable {
	WIDTH: 100%
}
TABLE.ipbtable {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #222; LINE-HEIGHT: 135%
}
TR.ipbtable {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #222; LINE-HEIGHT: 135%
}
TD.ipbtable {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #222; LINE-HEIGHT: 135%
}
.ipbtable TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.divpad {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TD.nopad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-RIGHT-WIDTH: 0px
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: underline
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: underline
}
A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ea5f00; TEXT-DECORATION: none
}
#ipbwrapper {
	MARGIN: 5px auto 0px; WIDTH: 99%; TEXT-ALIGN: left
}
.pagelink {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 3px; BACKGROUND: #f0f5fa; PADDING-BOTTOM: 1px; BORDER-LEFT: #072a66 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #072a66 1px solid
}
.pagelinklast {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 3px; BACKGROUND: #f0f5fa; PADDING-BOTTOM: 1px; BORDER-LEFT: #072a66 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #072a66 1px solid
}
.pagecurrent {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 3px; BACKGROUND: #f0f5fa; PADDING-BOTTOM: 1px; BORDER-LEFT: #072a66 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #072a66 1px solid
}
.minipagelink {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 3px; BACKGROUND: #f0f5fa; PADDING-BOTTOM: 1px; BORDER-LEFT: #072a66 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #072a66 1px solid
}
.minipagelinklast {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 3px; BACKGROUND: #f0f5fa; PADDING-BOTTOM: 1px; BORDER-LEFT: #072a66 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #072a66 1px solid
}
.pagelinklast {
	BACKGROUND: #dfe6ef
}
.minipagelinklast {
	BACKGROUND: #dfe6ef
}
.pagecurrent {
	BACKGROUND: #ffc9a5
}
.minipagelink {
	BORDER-RIGHT: #c2cfdf 1px solid; BORDER-TOP: #c2cfdf 1px solid; FONT-SIZE: 10px; MARGIN: 0px 1px 0px 0px; BORDER-LEFT: #c2cfdf 1px solid; BORDER-BOTTOM: #c2cfdf 1px solid
}
.minipagelinklast {
	BORDER-RIGHT: #c2cfdf 1px solid; BORDER-TOP: #c2cfdf 1px solid; FONT-SIZE: 10px; MARGIN: 0px 1px 0px 0px; BORDER-LEFT: #c2cfdf 1px solid; BORDER-BOTTOM: #c2cfdf 1px solid
}
.pagelink A:active {
	TEXT-DECORATION: none
}
.pagelink A:visited {
	TEXT-DECORATION: none
}
.pagelink A:link {
	TEXT-DECORATION: none
}
.pagelinklast A:active {
	TEXT-DECORATION: none
}
.pagelinklast A:visited {
	TEXT-DECORATION: none
}
.pagelinklast A:link {
	TEXT-DECORATION: none
}
.pagecurrent A:active {
	TEXT-DECORATION: none
}
.pagecurrent A:visited {
	TEXT-DECORATION: none
}
.pagecurrent A:link {
	TEXT-DECORATION: none
}
.minipagelink A:active {
	TEXT-DECORATION: none
}
.minipagelink A:visited {
	TEXT-DECORATION: none
}
.minipagelink A:link {
	TEXT-DECORATION: none
}
.minipagelinklast A:active {
	TEXT-DECORATION: none
}
.minipagelinklast A:visited {
	TEXT-DECORATION: none
}
.minipagelinklast A:link {
	TEXT-DECORATION: none
}
.fauxbutton {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #bfcde0; PADDING-BOTTOM: 4px; BORDER-LEFT: #072a66 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #072a66 1px solid
}
.fauxbutton A:link {
	COLOR: #222! important; TEXT-DECORATION: none
}
.fauxbutton A:visited {
	COLOR: #222! important; TEXT-DECORATION: none
}
.fauxbutton A:active {
	COLOR: #222! important; TEXT-DECORATION: none
}
.forumdesc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; COLOR: #666; LINE-HEIGHT: 135%; PADDING-TOP: 0px
}
.forumdesc A:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; COLOR: #666; LINE-HEIGHT: 135%; PADDING-TOP: 0px
}
.forumdesc A:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; COLOR: #666; LINE-HEIGHT: 135%; PADDING-TOP: 0px
}
.forumdesc A:active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; COLOR: #666; LINE-HEIGHT: 135%; PADDING-TOP: 0px
}
.searchlite {
	FONT-WEIGHT: bold; COLOR: red; BACKGROUND-COLOR: yellow
}
.activeusers {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #072a66 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #072a66 1px solid
}
.activeuserposting A:link {
	BORDER-BOTTOM: black 1px dotted; FONT-STYLE: italic; TEXT-DECORATION: none
}
.activeuserposting A:visited {
	BORDER-BOTTOM: black 1px dotted; FONT-STYLE: italic; TEXT-DECORATION: none
}
.activeuserposting A:active {
	BORDER-BOTTOM: black 1px dotted; FONT-STYLE: italic; TEXT-DECORATION: none
}
.activeuserposting {
	BORDER-BOTTOM: black 1px dotted; FONT-STYLE: italic; TEXT-DECORATION: none
}
FIELDSET.search {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; LINE-HEIGHT: 150%; PADDING-TOP: 6px
}
LABEL {
	CURSOR: pointer
}
IMG.attach {
	BORDER-RIGHT: #808080 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #808080 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(style_images/micro_skin1139148205/click2enlarge.gif) #808080 no-repeat right top; PADDING-BOTTOM: 2px; MARGIN: 0px 2px 0px 0px; BORDER-LEFT: #808080 1px solid; PADDING-TOP: 11px; BORDER-BOTTOM: #808080 1px solid
}
.thumbwrap {
	BORDER-RIGHT: #072a66 1px solid; BORDER-TOP: #072a66 1px solid; MARGIN: 2px; BORDER-LEFT: #072a66 1px solid; BORDER-BOTTOM: #072a66 1px solid
}
.thumbwrapp {
	BORDER-RIGHT: #072a66 1px solid; BORDER-TOP: #072a66 1px solid; MARGIN: 2px; BORDER-LEFT: #072a66 1px solid; BORDER-BOTTOM: #072a66 1px solid
}
.fullimagewrap {
	BORDER-RIGHT: #072a66 1px solid; BORDER-TOP: #072a66 1px solid; MARGIN: 2px; BORDER-LEFT: #072a66 1px solid; BORDER-BOTTOM: #072a66 1px solid
}
.thumbwrapp {
	BORDER-RIGHT: #660707 2px solid; BORDER-TOP: #660707 2px solid; BORDER-LEFT: #660707 2px solid; BORDER-BOTTOM: #660707 2px solid
}
.fullimagewrap {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #f5f9fd; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.thumbwrap H4 {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 12px; BACKGROUND: #dde6f2; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #00326a; PADDING-TOP: 5px; BORDER-BOTTOM: #5176b5 1px solid; BORDER-RIGHT-WIDTH: 0px! important
}
.thumbwrapp H4 {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 12px; BACKGROUND: #dde6f2; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #00326a; PADDING-TOP: 5px; BORDER-BOTTOM: #5176b5 1px solid; BORDER-RIGHT-WIDTH: 0px! important
}
.thumbwrap P {
	PADDING-RIGHT: 5px! important; BORDER-TOP: #5176b5 1px solid; PADDING-LEFT: 5px! important; BORDER-LEFT-WIDTH: 0px! important; BACKGROUND: #eef2f7; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 5px! important; MARGIN: 0px; PADDING-TOP: 5px! important; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px! important
}
.thumbwrapp P {
	PADDING-RIGHT: 5px! important; BORDER-TOP: #5176b5 1px solid; PADDING-LEFT: 5px! important; BORDER-LEFT-WIDTH: 0px! important; BACKGROUND: #eef2f7; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 5px! important; MARGIN: 0px; PADDING-TOP: 5px! important; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px! important
}
.thumbwrap P.alt {
	PADDING-RIGHT: 5px! important; PADDING-LEFT: 5px! important; BACKGROUND: #dfe6ef; PADDING-BOTTOM: 5px! important; MARGIN: 0px; PADDING-TOP: 5px! important; TEXT-ALIGN: left
}
.thumbwrapp P.alt {
	PADDING-RIGHT: 5px! important; PADDING-LEFT: 5px! important; BACKGROUND: #dfe6ef; PADDING-BOTTOM: 5px! important; MARGIN: 0px; PADDING-TOP: 5px! important; TEXT-ALIGN: left
}
.thumbwrapp P.pin {
	BACKGROUND: #efdfdf; TEXT-ALIGN: center! important
}
.thumbwrap IMG.galattach {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(style_images/micro_skin1139148205/img_larger.gif) #fff no-repeat right bottom; PADDING-BOTTOM: 10px; MARGIN: 5px; BORDER-LEFT: #072a66 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #072a66 1px solid
}
.thumbwrapp IMG.galattach {
	BORDER-RIGHT: #072a66 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #072a66 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(style_images/micro_skin1139148205/img_larger.gif) #fff no-repeat right bottom; PADDING-BOTTOM: 10px; MARGIN: 5px; BORDER-LEFT: #072a66 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #072a66 1px solid
}
LI.helprow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
UL#help {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.warngood {
	FONT-WEIGHT: bold; COLOR: #0b9500
}
.warnbad {
	FONT-WEIGHT: bold; COLOR: #0b9500
}
.warnbad {
	COLOR: #dd0000
}
#padandcenter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 14px; MARGIN: 0px auto; PADDING-TOP: 14px; TEXT-ALIGN: center
}
#profilename {
	FONT-WEIGHT: bold; FONT-SIZE: 28px
}
#photowrap {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
#phototitle {
	FONT-SIZE: 24px; BORDER-BOTTOM: #000 1px solid
}
#photoimg {
	MARGIN: 15px 0px 0px; TEXT-ALIGN: center
}
#ucpmenu {
	BORDER-RIGHT: #345487 1px solid; BORDER-TOP: #345487 1px solid; BACKGROUND: #f5f9fd; BORDER-LEFT: #345487 1px solid; LINE-HEIGHT: 150%; BORDER-BOTTOM: #345487 1px solid
}
#ucpcontent {
	BORDER-RIGHT: #345487 1px solid; BORDER-TOP: #345487 1px solid; BACKGROUND: #f5f9fd; BORDER-LEFT: #345487 1px solid; LINE-HEIGHT: 150%; BORDER-BOTTOM: #345487 1px solid
}
#ucpmenu P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 9px; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 2px
}
#ucpmenu A:link {
	TEXT-DECORATION: none
}
#ucpmenu A:active {
	TEXT-DECORATION: none
}
#ucpmenu A:visited {
	TEXT-DECORATION: none
}
#ucpcontent {
	WIDTH: auto
}
#ucpcontent P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
.activeuserstrip {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #bcd0ed; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.signature {
	FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #339; LINE-HEIGHT: 150%
}
.postdetails {
	FONT-SIZE: 10px; LINE-HEIGHT: 140%
}
.postcolor {
	FONT-SIZE: 12px; LINE-HEIGHT: 160%
}
.normalname {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003
}
.normalname A:link {
	FONT-SIZE: 12px
}
.normalname A:visited {
	FONT-SIZE: 12px
}
.normalname A:active {
	FONT-SIZE: 12px
}
.bg1 {
	BACKGROUND: #f5f5f5
}
.post1 {
	BACKGROUND: #d1d9e5
}
.post2 {
	BACKGROUND: #e5eaf1
}
.bg3 {
	BACKGROUND: #e5eaf1
}
.row2shaded {
	BACKGROUND-COLOR: #dedbe4
}
.post1shaded {
	BACKGROUND-COLOR: #dedbe4
}
.row4shaded {
	BACKGROUND-COLOR: #e3dfe7
}
.post2shaded {
	BACKGROUND-COLOR: #e3dfe7
}
.row1 {
	BACKGROUND: url(style_images/micro_skin1139148205/row1.gif) #d8dee7
}
.row2 {
	BACKGROUND: url(style_images/micro_skin1139148205/row2.gif) #efefef
}
.darkrow1 {
	BACKGROUND: #e8e8e8; COLOR: #333333
}
.darkrow3 {
	BACKGROUND: url(style_images/micro_skin1139148205/row2.gif) #efefef; COLOR: #000
}
.plainborder {
	BORDER-RIGHT: #345487 1px solid; BORDER-TOP: #345487 1px solid; BACKGROUND: #d1d9e5; BORDER-LEFT: #345487 1px solid; BORDER-BOTTOM: #345487 1px solid
}
.tablefill {
	BORDER-RIGHT: #345487 1px solid; BORDER-TOP: #345487 1px solid; BACKGROUND: #d1d9e5; BORDER-LEFT: #345487 1px solid; BORDER-BOTTOM: #345487 1px solid
}
.tablepad {
	BORDER-RIGHT: #345487 1px solid; BORDER-TOP: #345487 1px solid; BACKGROUND: #d1d9e5; BORDER-LEFT: #345487 1px solid; BORDER-BOTTOM: #345487 1px solid
}
.tablefill {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.tablepad {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.tablepad {
	BORDER-TOP-WIDTH: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
.wrapmini {
	FLOAT: left; WIDTH: 25%; LINE-HEIGHT: 1.5em
}
.pagelinks {
	FLOAT: left; WIDTH: 35%; LINE-HEIGHT: 1.2em
}
.desc {
	FONT-SIZE: 11px; COLOR: #434951
}
.lastaction {
	FONT-SIZE: 10px; COLOR: #434951
}
.edit {
	FONT-SIZE: 9px
}
.thin {
	BORDER-RIGHT: #fff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 2px 0px; BORDER-LEFT: #fff 0px solid; LINE-HEIGHT: 150%; PADDING-TOP: 6px; BORDER-BOTTOM: #fff 1px solid
}
.calmonths {
	BORDER-RIGHT: #c2cfdf 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #c2cfdf 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: #f0f5fa; PADDING-BOTTOM: 8px; MARGIN: 5px 0px; BORDER-LEFT: #c2cfdf 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #c2cfdf 1px solid; TEXT-ALIGN: center
}
.weekday {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.calmonths A {
	TEXT-DECORATION: none
}
.calday {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #dfe6ef; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 4px; TEXT-ALIGN: right
}
.calweekday {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #dfe6ef; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 4px; TEXT-ALIGN: right
}
.calweekday {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 14px; PADDING-BOTTOM: 6px; COLOR: #222; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.celltodayshaded {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; HEIGHT: 100px
}
.celldateshaded {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; HEIGHT: 100px
}
.cellblank {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; HEIGHT: 100px
}
.celldate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; HEIGHT: 100px
}
.celltoday {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; HEIGHT: 100px
}
.mcellblank {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; HEIGHT: 100px
}
.mcelldate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; HEIGHT: 100px
}
.mcelltoday {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; HEIGHT: 100px
}
.celltodayshaded {
	BACKGROUND: #e3dfe7
}
.celldateshaded {
	BACKGROUND: #e3dfe7
}
.mcellblank {
	HEIGHT: auto
}
.mcelldate {
	HEIGHT: auto
}
.mcelltoday {
	HEIGHT: auto
}
.cellblank {
	BACKGROUND: #c2cfdf
}
.mcellblank {
	BACKGROUND: #c2cfdf
}
.celltoday {
	BORDER-RIGHT: #ea5a00 2px solid; BORDER-TOP: #ea5a00 2px solid; BORDER-LEFT: #ea5a00 2px solid; BORDER-BOTTOM: #ea5a00 2px solid
}
.celltodayshaded {
	BORDER-RIGHT: #ea5a00 2px solid; BORDER-TOP: #ea5a00 2px solid; BORDER-LEFT: #ea5a00 2px solid; BORDER-BOTTOM: #ea5a00 2px solid
}
.mcelltoday {
	BORDER-RIGHT: #ea5a00 2px solid; BORDER-TOP: #ea5a00 2px solid; BORDER-LEFT: #ea5a00 2px solid; BORDER-BOTTOM: #ea5a00 2px solid
}
.calranged {
	BORDER-RIGHT: #c2cfdf 2px outset; PADDING-RIGHT: 4px; BORDER-TOP: #c2cfdf 2px outset; PADDING-LEFT: 4px; BACKGROUND: #c2cfdf; PADDING-BOTTOM: 4px; BORDER-LEFT: #c2cfdf 2px outset; PADDING-TOP: 4px; BORDER-BOTTOM: #c2cfdf 2px outset
}
.calitem {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #c2cfdf 1px dotted
}
.input-warn {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #00326a 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #00326a 1px solid; FONT-FAMILY: verdana, helvetica, sans-serif
}
.input-green {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #00326a 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #00326a 1px solid; FONT-FAMILY: verdana, helvetica, sans-serif
}
INPUT {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #00326a 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #00326a 1px solid; FONT-FAMILY: verdana, helvetica, sans-serif
}
TEXTAREA {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #00326a 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #00326a 1px solid; FONT-FAMILY: verdana, helvetica, sans-serif
}
SELECT {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #00326a 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #00326a 1px solid; FONT-FAMILY: verdana, helvetica, sans-serif
}
.input-warn {
	BORDER-RIGHT: #c00 1px solid; BORDER-TOP: #c00 1px solid; BORDER-LEFT: #c00 1px solid; BORDER-BOTTOM: #c00 1px solid
}
.input-warn-content {
	BORDER-RIGHT: #c00 1px solid; BORDER-TOP: #c00 1px solid; BORDER-LEFT: #c00 1px solid; BORDER-BOTTOM: #c00 1px solid
}
.input-ok {
	BORDER-RIGHT: #0c0 1px solid; BORDER-TOP: #0c0 1px solid; BORDER-LEFT: #0c0 1px solid; BORDER-BOTTOM: #0c0 1px solid
}
.input-ok-content {
	BORDER-RIGHT: #0c0 1px solid; BORDER-TOP: #0c0 1px solid; BORDER-LEFT: #0c0 1px solid; BORDER-BOTTOM: #0c0 1px solid
}
.input-warn-content {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 4px; PADDING-TOP: 4px; BACKGROUND-COLOR: #fcc
}
.input-ok-content {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 4px; PADDING-TOP: 4px; BACKGROUND-COLOR: #cfc
}
.input-text {
	COLOR: #900
}
SELECT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: verdana, helvetica, sans-serif; BORDER-RIGHT-WIDTH: 0px
}
INPUT.button {
	MARGIN: 0px; WIDTH: auto
}
OPTGROUP OPTION {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, helvetica, sans-serif
}
.codebuttons {
	FONT-SIZE: 10px; MARGIN: 2px; VERTICAL-ALIGN: middle; FONT-FAMILY: Verdana, Helvetica, Sans-Serif
}
.textarea {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #000 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: Verdana, Helvetica, Sans-Serif
}
.searchinput {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #000 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: Verdana, Helvetica, Sans-Serif
}
.button {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #000 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: Verdana, Helvetica, Sans-Serif
}
.gobutton {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #000 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: Verdana, Helvetica, Sans-Serif
}
.button {
	BACKGROUND: #476ba2; COLOR: #fff
}
.gobutton {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #072a66; BORDER-RIGHT-WIDTH: 0px
}
.radiobutton {
	BORDER-RIGHT: #00326a 1px solid; BORDER-TOP: #00326a 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #00326a 1px solid; BORDER-BOTTOM: #00326a 1px solid
}
.checkbox {
	BORDER-RIGHT: #00326a 1px solid; BORDER-TOP: #00326a 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #00326a 1px solid; BORDER-BOTTOM: #00326a 1px solid
}
.helpbox {
	BORDER-RIGHT: #00326a 1px solid; BORDER-TOP: #00326a 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #00326a 1px solid; BORDER-BOTTOM: #00326a 1px solid
}
.formtable {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.formtable TD {
	BORDER-RIGHT: #7f9bc5 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #7f9bc5 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: #ced7e5; PADDING-BOTTOM: 6px; MARGIN: 1px 0px 0px; BORDER-LEFT: #7f9bc5 0px solid; WIDTH: 25%; PADDING-TOP: 6px; BORDER-BOTTOM: #7f9bc5 0px solid
}
.pformleft {
	BORDER-RIGHT: #7f9bc5 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #7f9bc5 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: #ced7e5; PADDING-BOTTOM: 6px; MARGIN: 1px 0px 0px; BORDER-LEFT: #7f9bc5 0px solid; WIDTH: 25%; PADDING-TOP: 6px; BORDER-BOTTOM: #7f9bc5 0px solid
}
.pformleftw {
	BORDER-RIGHT: #7f9bc5 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #7f9bc5 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: #ced7e5; PADDING-BOTTOM: 6px; MARGIN: 1px 0px 0px; BORDER-LEFT: #7f9bc5 0px solid; WIDTH: 25%; PADDING-TOP: 6px; BORDER-BOTTOM: #7f9bc5 0px solid
}
.pformright {
	BORDER-RIGHT: #7f9bc5 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #7f9bc5 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: #ced7e5; PADDING-BOTTOM: 6px; MARGIN: 1px 0px 0px; BORDER-LEFT: #7f9bc5 0px solid; WIDTH: 25%; PADDING-TOP: 6px; BORDER-BOTTOM: #7f9bc5 0px solid
}
.formtable TD.wider {
	WIDTH: 40%
}
.pformleftw {
	WIDTH: 40%
}
.pformright {
	WIDTH: 40%
}
.formtable TD.formright {
	FONT-WEIGHT: normal; WIDTH: auto; BORDER-RIGHT-WIDTH: 0px
}
.pformright {
	FONT-WEIGHT: normal; WIDTH: auto; BORDER-RIGHT-WIDTH: 0px
}
.formtable TD.formtitle {
	BORDER-RIGHT: #9fb9d4 0px solid; BORDER-TOP: #9fb9d4 1px solid; FONT-WEIGHT: normal; BACKGROUND: url(style_images/micro_skin1139148205/tile_sub.gif); BORDER-LEFT: #9fb9d4 0px solid; BORDER-BOTTOM: #9fb9d4 0px solid
}
.formsubtitle {
	BORDER-RIGHT: #9fb9d4 0px solid; BORDER-TOP: #9fb9d4 1px solid; FONT-WEIGHT: normal; BACKGROUND: url(style_images/micro_skin1139148205/tile_sub.gif); BORDER-LEFT: #9fb9d4 0px solid; BORDER-BOTTOM: #9fb9d4 0px solid
}
.formsubtitle {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; COLOR: #00326a; PADDING-TOP: 5px; BORDER-RIGHT-WIDTH: 0px
}
.formtable TD.formstrip {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 1px solid; FONT-WEIGHT: normal; BACKGROUND: #ffecce; BORDER-LEFT: #000 0px solid; BORDER-BOTTOM: #000 1px solid
}
.quotetop {
	BORDER-RIGHT: #fff 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px dotted; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(style_images/micro_skin1139148205/css_img_quote.gif) #00326a no-repeat right 50%; PADDING-BOTTOM: 3px; MARGIN: 8px auto 0px; BORDER-LEFT: #ea5a00 4px solid; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 0px dotted
}
.quotemain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: #000 0px dotted; PADDING-LEFT: 4px; BACKGROUND: #f1f4f8; PADDING-BOTTOM: 4px; MARGIN: 0px auto 8px; BORDER-LEFT: #ea5a00 4px solid; COLOR: #465584; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px dotted
}
.codetop {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(style_images/micro_skin1139148205/css_img_code.gif) #ea5a00 no-repeat right 50%; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #00326a 4px solid; WIDTH: 98%; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: #000 0px dotted
}
.sqltop {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(style_images/micro_skin1139148205/css_img_code.gif) #ea5a00 no-repeat right 50%; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #00326a 4px solid; WIDTH: 98%; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: #000 0px dotted
}
.htmltop {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(style_images/micro_skin1139148205/css_img_code.gif) #ea5a00 no-repeat right 50%; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #00326a 4px solid; WIDTH: 98%; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: #000 0px dotted
}
.codemain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 0px dotted; PADDING-LEFT: 3px; BACKGROUND: #f1f4f8; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #00326a 4px solid; WIDTH: 98%; COLOR: #465584; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px dotted; FONT-FAMILY: Courier, Courier New, Verdana, Arial
}
.sqlmain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 0px dotted; PADDING-LEFT: 3px; BACKGROUND: #f1f4f8; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #00326a 4px solid; WIDTH: 98%; COLOR: #465584; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px dotted; FONT-FAMILY: Courier, Courier New, Verdana, Arial
}
.htmlmain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 0px dotted; PADDING-LEFT: 3px; BACKGROUND: #f1f4f8; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #00326a 4px solid; WIDTH: 98%; COLOR: #465584; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px dotted; FONT-FAMILY: Courier, Courier New, Verdana, Arial
}
#QUOTE {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fafcfe; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; COLOR: #465584; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: Verdana, Arial; WHITE-SPACE: normal
}
#CODE {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #fafcfe; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; COLOR: #465584; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: Verdana, Arial; WHITE-SPACE: normal
}
#CODE {
	FONT-FAMILY: Courier, Courier New, Verdana, Arial
}
.cleared {
	CLEAR: both
}
.borderwrap {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #00326a 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #00326a 1px solid
}
.borderwrapm {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #00326a 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #00326a 1px solid
}
.borderwrapm {
	MARGIN: 5px
}
.borderwrap H3 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(style_images/micro_skin1139148205/tile_cat.gif); PADDING-BOTTOM: 8px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; PADDING-TOP: 8px; BORDER-BOTTOM: #5176b5 1px solid
}
.maintitle {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(style_images/micro_skin1139148205/tile_cat.gif); PADDING-BOTTOM: 8px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; PADDING-TOP: 8px; BORDER-BOTTOM: #5176b5 1px solid
}
.maintitlecollapse {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(style_images/micro_skin1139148205/tile_cat.gif); PADDING-BOTTOM: 8px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; PADDING-TOP: 8px; BORDER-BOTTOM: #5176b5 1px solid
}
.maintitle TD {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fff
}
.maintitlecollapse {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.maintitle P {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
.maintitlecollapse P {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
.formsubtitle P {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
.maintitle P.expand {
	FLOAT: right; WIDTH: auto! important
}
.maintitle P.goto {
	FLOAT: right; WIDTH: auto! important
}
.maintitlecollapse P.expand {
	FLOAT: right; WIDTH: auto! important
}
.formsubtitle P.members {
	FLOAT: right; WIDTH: auto! important
}
.maintitle A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff; TEXT-DECORATION: none
}
.maintitle A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff; TEXT-DECORATION: none
}
.maintitlecollapse A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff; TEXT-DECORATION: none
}
.maintitlecollapse A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff; TEXT-DECORATION: none
}
.maintitle A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff
}
.maintitle A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff
}
.maintitlecollapse A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff
}
.maintitlecollapse A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff
}
TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(style_images/micro_skin1139148205/tile_sub.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #3a4f6c; PADDING-TOP: 5px; BORDER-BOTTOM: #5176b5 1px solid; LETTER-SPACING: 1px
}
.borderwrap TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(style_images/micro_skin1139148205/tile_sub.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #3a4f6c; PADDING-TOP: 5px; BORDER-BOTTOM: #5176b5 1px solid; LETTER-SPACING: 1px
}
.subtitle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(style_images/micro_skin1139148205/tile_sub.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #3a4f6c; PADDING-TOP: 5px; BORDER-BOTTOM: #5176b5 1px solid; LETTER-SPACING: 1px
}
.subtitlediv {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(style_images/micro_skin1139148205/tile_sub.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #3a4f6c; PADDING-TOP: 5px; BORDER-BOTTOM: #5176b5 1px solid; LETTER-SPACING: 1px
}
.postlinksbar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(style_images/micro_skin1139148205/tile_sub.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #3a4f6c; PADDING-TOP: 5px; BORDER-BOTTOM: #5176b5 1px solid; LETTER-SPACING: 1px
}
.subtitlediv {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #5176b5 1px solid; TEXT-ALIGN: right
}
.borderwrap TABLE TH A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.subtitle A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.subtitlediv A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.borderwrap TABLE TH A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.subtitle A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.subtitlediv A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.borderwrap TABLE TH A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.subtitle A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.subtitlediv A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.borderwrap TABLE TH A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.subtitle A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.subtitlediv A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00326a; TEXT-DECORATION: none
}
.borderwrap H4 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5176b5 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #dde6f2; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #5176b5; PADDING-TOP: 5px; BORDER-BOTTOM: #5176b5 1px solid
}
.borderwrap P {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 10px; MARGIN: 5px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left
}
TD.formbuttonrow {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 5px! important; BORDER-TOP: #5176b5 1px solid; PADDING-LEFT: 5px! important; BACKGROUND: url(style_images/micro_skin1139148205/row2.gif) #d1dceb; PADDING-BOTTOM: 5px! important; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 5px! important; BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center
}
.borderwrap P.formbuttonrow {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 5px! important; BORDER-TOP: #5176b5 1px solid; PADDING-LEFT: 5px! important; BACKGROUND: url(style_images/micro_skin1139148205/row2.gif) #d1dceb; PADDING-BOTTOM: 5px! important; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 5px! important; BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center
}
.borderwrap P.formbuttonrow1 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 5px! important; BORDER-TOP: #5176b5 1px solid; PADDING-LEFT: 5px! important; BACKGROUND: url(style_images/micro_skin1139148205/row2.gif) #d1dceb; PADDING-BOTTOM: 5px! important; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 5px! important; BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center
}
TD.formbuttonrow {
	BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.borderwrap P.formbuttonrow1 {
	BORDER-TOP: #ccc 1px solid; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #f9f9f9; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.bar {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: #dfe6ef; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.barb {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: #dfe6ef; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.barc {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: #dfe6ef; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.barc {
	BORDER-BOTTOM-WIDTH: 0px
}
.bar P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #222; PADDING-TOP: 5px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.barb P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #222; PADDING-TOP: 5px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.barc P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #222; PADDING-TOP: 5px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.barb P {
	TEXT-ALIGN: right
}
.bar P.over {
	FLOAT: right
}
.bar P.overs {
	FLOAT: right
}
.barc P.over {
	FLOAT: right
}
.barc P.overs {
	FLOAT: right
}
.barb P.over {
	FLOAT: left
}
.barb P.overs {
	FLOAT: left
}
.bar P.overs {
	POSITION: relative; TOP: 5px
}
.barb P.overs {
	POSITION: relative; TOP: 5px
}
.barc P.overs {
	POSITION: relative; TOP: 5px
}
.catend {
	FONT-SIZE: 1px; BACKGROUND: url(style_images/micro_skin1139148205/tile_cat.gif) #7f9bc5; COLOR: #000; HEIGHT: 5px
}
.newslink {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; WIDTH: 100%
}
.newslink TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px
}
.newslink SPAN {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000; FONT-STYLE: italic
}
.newslink INPUT {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; BORDER-LEFT: #00326a 1px solid; WIDTH: auto; COLOR: #00326a; PADDING-TOP: 3px; BORDER-BOTTOM: #00326a 1px solid
}
.newslink INPUT.button {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; COLOR: #072a66; BORDER-RIGHT-WIDTH: 0px
}
.fieldwrap {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 0px solid; PADDING-LEFT: 0px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 0px; MARGIN: 5px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left
}
.fieldwrap H4 {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #eee; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #ccc 0px solid; COLOR: #444; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
.errorwrap {
	BORDER-RIGHT: #ea5f00 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ea5f00 0px solid; PADDING-LEFT: 0px; BACKGROUND: #ffecce; PADDING-BOTTOM: 0px; MARGIN: 5px; BORDER-LEFT: #ea5f00 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ea5f00 1px solid
}
.errorwrap H4 {
	BORDER-RIGHT: #ea5f00 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ea5f00 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #ffecce; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #ea5f00 0px solid; COLOR: #ea5f00; PADDING-TOP: 5px; BORDER-BOTTOM: #ea5f00 1px solid
}
.errorwrap P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 8px; BORDER-RIGHT-WIDTH: 0px
}
.ruleswrap {
	BORDER-RIGHT: #ea5f00 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ea5f00 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffecce; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; BORDER-LEFT: #ea5f00 1px solid; COLOR: #ea5f00; PADDING-TOP: 5px; BORDER-BOTTOM: #ea5f00 1px solid
}
#redirectwrap {
	BORDER-RIGHT: #c2cfdf 1px solid; BORDER-TOP: #c2cfdf 1px solid; BACKGROUND: #f0f5fa; MARGIN: 200px auto 0px; BORDER-LEFT: #c2cfdf 1px solid; WIDTH: 500px; BORDER-BOTTOM: #c2cfdf 1px solid; TEXT-ALIGN: left
}
#redirectwrap H4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: #d0ddea; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #00326a; PADDING-TOP: 5px; BORDER-BOTTOM: #c2cfdf 1px solid
}
#redirectwrap P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#redirectwrap P.redirectfoot {
	BORDER-TOP: #c2cfdf 1px solid; BACKGROUND: #e3ebf4; TEXT-ALIGN: center
}
#gfooter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #00326a; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; WIDTH: 100%; PADDING-TOP: 0px
}
#gfooter TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10px; PADDING-BOTTOM: 4px; COLOR: #fff; PADDING-TOP: 4px
}
#gfooter A:link {
	COLOR: #fff
}
#gfooter A:visited {
	COLOR: #fff
}
#logostrip {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(style_images/micro_skin1139148205/tile_back.gif) #3860bb; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 130px
}
#logographic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(style_images/micro_skin1139148205/logo4.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 68px
}
#submenu {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 0px solid; BACKGROUND: url(style_images/micro_skin1139148205/tile_sub.gif); MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #3a4f6c; BORDER-BOTTOM: #fff 1px solid
}
#userlinks {
	BORDER-RIGHT: #003168 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #003168 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; BORDER-LEFT: #003168 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #003168 1px solid
}
#userlinksguest {
	BORDER-RIGHT: #003168 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #003168 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; BORDER-LEFT: #003168 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #003168 1px solid
}
#userlinksguest {
	BORDER-RIGHT: #003168 1px solid; BORDER-TOP: #003168 1px solid; BACKGROUND: #fff; BORDER-LEFT: #003168 1px solid; BORDER-BOTTOM: #003168 1px solid
}
#submenu P {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 7px; LETTER-SPACING: 1px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px! important
}
#userlinks P {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 7px; LETTER-SPACING: 1px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px! important
}
#userlinksguest P {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 7px; LETTER-SPACING: 1px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px! important
}
#userlinks P {
	FONT-WEIGHT: normal; LETTER-SPACING: 0px
}
#userlinksguest P {
	FONT-WEIGHT: normal; LETTER-SPACING: 0px
}
#submenu P.home {
	FLOAT: left
}
#userlinks P.home {
	FLOAT: left
}
#userlinksguest P.home {
	FLOAT: left
}
#userlinksguest P.pcen {
	TEXT-ALIGN: center
}
#submenu A:link {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 5px; BACKGROUND: #003977; PADDING-BOTTOM: 2px; MARGIN-LEFT: 3px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 1px; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORATION: none
}
#submenu A:visited {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 5px; BACKGROUND: #003977; PADDING-BOTTOM: 2px; MARGIN-LEFT: 3px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 1px; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORATION: none
}
#submenu A:hover {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ea5f00; PADDING-BOTTOM: 2px; MARGIN-LEFT: 3px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 1px; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORATION: none
}
#submenu A:active {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ea5f00; PADDING-BOTTOM: 2px; MARGIN-LEFT: 3px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 1px; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORATION: none
}
#navstrip {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 5px; COLOR: #999; PADDING-TOP: 8px
}
#navstrip A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
#navstrip A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
#navstrip A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ea5f00
}
#navstrip A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ea5f00
}
.toplinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.toplinks SPAN {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #00326a 1px solid; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #00326a 0px solid
}
.copyright {
	FONT-SIZE: 10px; BACKGROUND: #f5f5f5; COLOR: #666
}
.copyright A:link {
	FONT-SIZE: 10px; BACKGROUND: #f5f5f5; COLOR: #666
}
.copyright A:visited {
	FONT-SIZE: 10px; BACKGROUND: #f5f5f5; COLOR: #666
}
.copyright A:hover {
	FONT-SIZE: 10px; BACKGROUND: #f5f5f5; COLOR: #666
}
#print {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px auto; WIDTH: 85%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#print H1 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #036; PADDING-TOP: 8px
}
#print H2 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #036; PADDING-TOP: 8px
}
#print H3 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #036; PADDING-TOP: 8px
}
#print H4 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #036; PADDING-TOP: 8px
}
#print P {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #036; PADDING-TOP: 8px
}
#print H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-BOTTOM: #999 1px solid
}
#print H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-BOTTOM: #999 1px solid
}
#print P {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-BOTTOM: #999 1px solid
}
#print H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #f5f5f5; MARGIN: 0px 0px 10px
}
#print H4 {
	FONT-SIZE: 11px; BACKGROUND: #f9f9f9
}
#print P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 5px; PADDING-TOP: 10px
}
#print P.printcopy {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.rteimage {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; CURSOR: hand; PADDING-TOP: 1px
}
.rteImageRaised {
	BORDER-RIGHT: 1px outset; PADDING-RIGHT: 0px; BORDER-TOP: 1px outset; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px outset; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: 1px outset
}
.rteImageLowered {
	BORDER-RIGHT: 1px inset; PADDING-RIGHT: 0px; BORDER-TOP: 1px inset; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px inset; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: 1px inset
}
.rteimage:hover {
	BACKGROUND: #ebebeb; CURSOR: hand
}
.rteVertSep {
	MARGIN: 0px 4px
}
.rteBack {
	BORDER-RIGHT: 1px outset; PADDING-RIGHT: 2px; BORDER-TOP: 1px outset; PADDING-LEFT: 2px; BACKGROUND: #d3d3d3; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px outset; PADDING-TOP: 2px; BORDER-BOTTOM: 1px outset; LETTER-SPACING: 0px
}
.rtebottombutton {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #00326a 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #00326a 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #00326a 1px solid; BACKGROUND-COLOR: #ebebeb
}
.rtebottombuttonon {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #00326a 0px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #00326a 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #00326a 1px solid; BACKGROUND-COLOR: #d3d3d3
}
.rtebuttonbar1 {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(style_images/micro_skin1139148205/folder_rte_images/rte_tile.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: #00326a 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #00326a 0px solid; LETTER-SPACING: 0px; HEIGHT: 26px
}
.rtebuttonbar2 {
	BORDER-RIGHT: #00326a 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(style_images/micro_skin1139148205/folder_rte_images/rte_tile.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: #00326a 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #00326a 1px solid; LETTER-SPACING: 0px; HEIGHT: 26px
}
.rtebuttonbar1 TBODY TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.rtebuttonbar1 TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.rtebuttonbar2 TBODY TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.rtebuttonbar2 TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.rteBack TBODY TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.rteBack TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.rteDiv {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
.rteiframe {
	BORDER-RIGHT: #00326a 1px solid; BORDER-TOP: #00326a 1px solid; BORDER-LEFT: #00326a 1px solid; BORDER-BOTTOM: #00326a 1px solid; BACKGROUND-COLOR: #fff
}
.rteselectbox {
	FONT-SIZE: 11px
}
.dny-edit-title {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #d1dceb; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #3a4f6c; PADDING-TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
.tabon {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 8px; FONT-SIZE: 10px; FLOAT: left; PADDING-BOTTOM: 9px; BORDER-LEFT: #999 1px solid; WIDTH: auto; PADDING-TOP: 8px; BACKGROUND-COLOR: #fff
}
.taboff {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #777 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 8px; FONT-SIZE: 10px; FLOAT: left; PADDING-BOTTOM: 8px; BORDER-LEFT: #777 1px solid; WIDTH: auto; COLOR: #333; PADDING-TOP: 8px; BACKGROUND-COLOR: #b5c3d9
}
.tabon A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.tabon A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.tabon A:active {
	COLOR: #000; TEXT-DECORATION: none
}
.taboff A:link {
	COLOR: #333; TEXT-DECORATION: none
}
.taboff A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.taboff A:active {
	COLOR: #333; TEXT-DECORATION: none
}
.mya-back {
	BACKGROUND: #072a66; MARGIN: 1px
}
.mya-content {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #777 1px solid; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 8px; MARGIN: 1px; BORDER-LEFT: #777 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #777 1px solid
}
.iframeshim {
	BORDER-TOP-WIDTH: 0px; DISPLAY: none; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #fff; FILTER: alpha(opacity=0); BORDER-BOTTOM-WIDTH: 0px; WIDTH: auto; POSITION: absolute; HEIGHT: auto; BORDER-RIGHT-WIDTH: 0px
}
.popupmenu {
	BORDER-RIGHT: #3a4f6c 1px solid; BORDER-TOP: #3a4f6c 1px solid; FONT-SIZE: 10px; BACKGROUND: url(style_images/micro_skin1139148205/row2.gif) #f0f5fa; BORDER-LEFT: #3a4f6c 1px solid; BORDER-BOTTOM: #3a4f6c 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.popupmenu-item {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #c2cfdf 1px solid; WHITE-SPACE: nowrap
}
.popupmenu-item-last {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; WHITE-SPACE: nowrap
}
.popmenubutton {
	BORDER-RIGHT: #3a4f6c 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #3a4f6c 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(style_images/micro_skin1139148205/pop_tile.gif) #c2cfdf; FLOAT: right; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #3a4f6c 1px solid; WIDTH: 120px; COLOR: #3a4f6c; PADDING-TOP: 3px; BORDER-BOTTOM: #3a4f6c 1px solid; WHITE-SPACE: nowrap; HEIGHT: 18px; TEXT-ALIGN: center
}
.popmenubutton A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.popmenubutton A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.popupmenu-item A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.popupmenu-item A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.popupmenu-item-last A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.popupmenu-item-last A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.popmenubutton A:hover {
	COLOR: #ea5f00; TEXT-DECORATION: none
}
.popupmenu-item A:hover {
	COLOR: #ea5f00; TEXT-DECORATION: none
}
.popupmenu-item-last A:hover {
	COLOR: #ea5f00; TEXT-DECORATION: none
}
.popupmenu-category {
	PADDING-RIGHT: 5px; BORDER-TOP: #00326a 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(style_images/micro_skin1139148205/pop_tile.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #00326a; PADDING-TOP: 5px; BORDER-BOTTOM: #00326a 1px solid; LETTER-SPACING: 1px
}
td.left {
text-align:left;
}
